:root {
   --primary-text-color: #212121;
   --secondary-text-color: #FFFFFF;
   --tetriary-text-color: #757575;
   --accent-color: #2196F3;
   --logo-color: #000000;
   --primary-background-color: #FFFFFF;
   --secondary-background-color: #2F303A;
   --tetriary-background-color: #F5F5F5;
   --hero-background-color: #F5F4FA;
   --btn-activ-color: #188CE8;
   --footer-text-color: rgba(255, 255, 255, 0.6);
   --header-border-color: #ECECEC;
}
*{
 outline: 1px solid red;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}
ul {
  padding-left: 0;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin:  auto;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  width: 1200px;
}

/* List styles */
.list {
 list-style: none;
}

/* Header*/
.header {
  width: 1200px;
  padding-top: 24px;
  padding-bottom: 25px;

}
.logo {
 
 

 color: var(--accent-color);
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 26px;
 line-height: 1.19;
 letter-spacing: 0.03em;
 text-decoration: none;
}
.logo-part {
 
 color: var(--logo-color);
}
.logo-header {
  display: block;
  padding-top: 32px;
 padding-bottom: 32px;
  width: 145px;
  margin: 24px 93px 25px 0px;
}
.link {
  display: block;
} 

.header-link,
.header-contact {
 
 padding-top: 32px;
 padding-bottom: 32px;

 color: var(--primary-text-color);
 font-size: 14px;
 font-weight: 500;
 line-height: 1.14;
 letter-spacing: 0.02em;
 text-decoration: none;
}
.header-list,
.header-list-contact,
.header-nav,
.contacts-wrap {
 display: flex;
 align-items: center;
 
}
.header-container {
  display: flex;
  justify-content: space-between;
  width: 1200px;
}


.header-item:not(:first-child) {
  margin-left: 50px;
}


.contacts-wrap {
  margin-left: auto;
  
}
.header-mail {
  margin-right: 50px;
}
.header-list .link:hover,
.header-list .link:focus,
.header-contact:hover,
.header-contact:focus {
 color: var(--accent-color);
}

.header-list .link.current {
  color: var(--accent-color);
} 
.btn {
  display: inline-block;
  border: none;
  padding: 0px;
  cursor: pointer;
}

.header-contact {
 color: var(--tetriary-text-color);
}

/*Pledge*/

.pledge {
 
 text-align: center;
 background-color: var(--secondary-background-color);
}
.pledge-title  {
 max-width: 696px;
 margin:0 auto;
 padding-top: 200px;
 margin-bottom: 30px;

 color: var(--secondary-text-color);
 font-size: 44px;
 font-weight: 900;
 line-height: 1.36;
 letter-spacing: 0.06em;
 text-decoration: none;
 text-align: center;
 background-color: var(--secondary-background-color) ;
 text-transform: uppercase;
}
.pledge-btn {
 border-radius: 4px;
 width: 216px;
 height: 50px;
 margin-bottom: 200px;

 color: var(--secondary-text-color);
 background-color: var(--accent-color) ;
 font-weight: 700;
 font-family: inherit;
 font-size: 16px;
 line-height: 1.88;
 letter-spacing: 0.06em;
 align-items: center;
 text-align: center;
 text-decoration: none;
}
.pledge-btn:hover,
.pledge-btn:focus{
 background-color: var(--btn-activ-color);
}

.title {
  
  padding: 94px 0;
  
}
/*visually h2*/

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0; 
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0 0 0 0);
 overflow: hidden;
}

/*Особливості*/


.feature-list,
.gallery-list,
.hero-list {
  
  display: flex;
  flex-wrap: wrap;
  
 
  
  
}

.flex-element {
  
  width: calc((100% - 90px) / 4);
}
.flex-element:not(:first-child) {
  margin-left: 30px;
}
.title-list {
 margin-bottom: 10px;

 font-weight: 700;
 font-size: 14px;
 line-height: 1.14;
 letter-spacing: 0.03em;
 text-transform: uppercase;
}

.pre-title {
 color:var(--tetriary-text-color);
 line-height: 1.71;
 text-transform: none;
}
.gallery-photo {
  width: 1200px;
 padding: 47px 0 94px;
 
}
.gallery,
.hero-title {
 padding-bottom: 50px;

 font-weight: 700;
 font-size: 36px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-align: center;
}

.gallery-item {
  width: calc((100% - 60px) / 3);
  display: block;
  justify-content: center
}
.gallery-item:not(:first-child) {
  margin-left: 30px;
}
.hero-title {
  padding-top: 94px;
}
/*Наша команда*/
.hero {
  
 background-color:var(--hero-background-color);
}
.hero-pre-title,
.hero-discription {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.hero-pre-title {
  
  padding-top: 30px;
  padding-bottom: 10px;
}
.hero-discription {
  padding-bottom: 30px;
}

.hero-list {
  padding-bottom: 94px;
}
.hero-container {
  display: block;
  width: calc((100% - 90px) / 4);
  background-color: var(--primary-background-color);
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.hero-container:not(:first-child) {
  margin-left: 30px;
}
.hero-discription {
  color:var(--tetriary-text-color);
}
.hero-wrap {
  padding-top: 30px;
  padding-bottom: 30px;

  text-align: center;
}
/*Footer*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  
  background-color: #2F303A; 
}
.logo-part-footer {
  color:var(--secondary-text-color);
}
.footer-contact,
.footer-contact-title {
  padding-bottom: 9px;

  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-style: normal;  
}
.footer-contact-title {
 color: var(--footer-text-color);
 }
.footer-list .link:hover,
.footer-list .link:focus {
   color: var(--accent-color);
}
.footer-logo { 
  display: block;
  padding-bottom: 20px;
}
  /*Портфоліо*/
.header-portfolio {
  border-bottom: 1px solid var(--header-border-color);
  margin-bottom: 94px;
}
.header-button {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}
.nav-btn {
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--hero-background-color);
  }
.nav-btn:hover,
.nav-btn:focus{
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
}
.work-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.work-portfolio:nth-child(3n) {
  margin-bottom: 0;
}

.work-portfolio:nth-last-child(3n) {
margin-right: 0;
}
.work-portfolio {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  
  

}
.work-title {
 

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  background-color: var(--primary-background-color);
  text-decoration: none;
  }
.work-pre-title {
  

  color: var(--tetriary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.work {
 text-decoration: none;
  }

.portfolio-photo {
  border-right: 1px solid #EEEEEE;
  border-left: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}
